/* 
    Document   : controlStyle2
*/

.menubar{
    -fx-base: rgb(255, 255, 255);
    -fx-background: rgb(0, 0, 0);
}

.gridpane{
    -fx-hgap: 50;
}

.root{
    -fx-font-size: 20pt;
    -fx-font-family: "Courier New";
    -fx-base: rgb(132, 145, 47);
    -fx-background: rgb(225, 228, 203);
}

.button{
    -fx-text-fill: rgb(49, 89, 23);
    -fx-border-color: rgb(49, 89, 23);
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
}

.borders{
    -fx-border-color: rgb(103, 100, 78);
    -fx-border-style: dotted;
    -fx-border-width: 1.5;
    -fx-border-insets: -5;
}

.titled-pane-grey > .title {
    -fx-background-color: rgb(146, 148, 148);
}
  
.titled-pane-green > .title {
    -fx-background-color: lightgreen;
}

.parameter-label {
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
}

.exception-label {
    -fx-font-color: rgb(161, 57, 57);
    -fx-text-fill: rgb(161, 57, 57);
}

.answer-textarea-uneditable {
    -fx-font-color: green;
    -fx-text-fill: green;
    -fx-font-style: italic;
}

.selected {
    -fx-background-color: lightblue;
}